{% extends "layouts/base.html" %}
{% set project = "Home" %}

{% block body %}
    <!-- Start of body content specific to page -->
    <div class="px-5 py-5 mx-auto">
        <h1 class="text-white"><strong>Python Home Page</strong></h1>
        <div class="row">
            <div class="col-4">
                <div class="card">
                    <!-- <img class="card-img-top" src="{{ url_for('static', filename='assets/logo.png') }}" alt="Python Development" height="450">-->
                    <div class="card-body">
                    <h5 class="card-title">Team Roles</h5>
                    <p class="card-text">
                        <ol>
                            <li>Ryan - Scrum Master</li>
                            <li>Eli - DevOps</li>
                            <li>Jeffery - backend</li>
                            <li>Chris - backend</li>
                            <li>Josh - frontend</li>
                            <li>Khalid - frontend</li>
                        </ol>
                    </p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
{% endblock %}