h1>Hello, I am Jeffrey Fonseca, and this is my about me!</h1>
<p>&nbsp;</p>
<p>Things I enjoy</p>
<table style="height: 174px; width: 1210px; border-color: #000000;">
<tbody>
<tr style="height: 18px;">
<td style="width: 340px; height: 18px;">
<div class="detail__media  detail__media--images">
<div class="detail__media__img-wrapper  js-image-detail-wrapper" style="transform: scale(1);">
<div class="detail__media__img-bg  js-detail-img  js-detail-img-bg" style="width: 422px; height: 513px;">&nbsp;I really like the open source linux family of operating systems. I usually do my work on Arch linux. <a class="detail__media__img-link  js-detail-img  js-image-detail-link" style="width: 423.81591562799616px; height: 514px;" href="https://www.vhv.rs/dpng/d/409-4091864_linux-penguin-transparent-png-clipart-free-download-linux.png" target="_blank" rel="noopener"><img class="detail__media__img-highres  js-detail-img  js-detail-img-high" style="width: 108px; height: 131px; display: block;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.vhv.rs%2Fdpng%2Fd%2F409-4091864_linux-penguin-transparent-png-clipart-free-download-linux.png&amp;f=1&amp;nofb=1&amp;ipt=1d64ca543080c59ffe9a4b7e124ace9e58cc7fac30b2b83ef1b09c2bb2947a99&amp;ipo=images" alt="Linux Penguin Transparent &amp; Png Clipart Free Download - Linux Logo In Png, Png Download - vhv" /></a>
<div class="detail__media  detail__media--images">
<div class="detail__media__img-wrapper js-image-detail-wrapper" style="transform: scale(1);">
<div class="detail__media__img-bg  js-detail-img  js-detail-img-bg" style="width: 912px; height: 513px;"><a class="detail__media__img-link  js-detail-img  js-image-detail-link" style="width: 913.7777777777777px; height: 514px;" href="http://mistergratos.fr/libs/fonds/arch-linux-logo-1920x1080-5f885dcfc443a968475165.jpg" target="_blank" rel="noopener"><img class="detail__media__img-thumbnail  js-detail-img  js-detail-img-thumb" style="width: 233px; height: 131px;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.6LzrmFjtUUIXV9M4wApsuAHaEK%26pid%3DApi&amp;f=1&amp;ipt=4af10ac05b72fc55e203b8278269bc71451c73957e5c96daab5933889da93e0a&amp;ipo=images" /></a></div>
<img class="detail__media__img-highres  js-detail-img  js-detail-img-high" style="width: 913.778px; height: 514px; display: none;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fmistergratos.fr%2Flibs%2Ffonds%2Farch-linux-logo-1920x1080-5f885dcfc443a968475165.jpg&amp;f=1&amp;nofb=1&amp;ipt=8dfd6ff8c2a1b28f4f8ce4118ca884b68244afe6a912d50ab6527242c8000921&amp;ipo=images" alt="Arch Linux logo" /></div>
</div>
</div>
<a class="detail__media__img-link  js-detail-img  js-image-detail-link" style="width: 423.81591562799616px; height: 514px;" href="https://www.vhv.rs/dpng/d/409-4091864_linux-penguin-transparent-png-clipart-free-download-linux.png" target="_blank" rel="noopener"><img class="detail__media__img-thumbnail  js-detail-img  js-detail-img-thumb" style="width: 423.816px; height: 514px; display: none;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.gwkVTMjM2Arg0jwB0RI-dgHaI-%26pid%3DApi&amp;f=1&amp;ipt=e8952dc59bc8bcb327ea09e1ac060a2a162f463e29824ea683793ead7970f5df&amp;ipo=images" /></a></div>
</div>
</td>
<td style="width: 434px; height: 18px;">
<div class="detail__media  detail__media--images">
<div class="detail__media__img-wrapper  js-image-detail-wrapper" style="transform: scale(1);">
<div class="detail__media__img-bg  js-detail-img  js-detail-img-bg" style="width: 772px; height: 513px;"><a class="detail__media__img-link  js-detail-img  js-image-detail-link" style="width: 773.8876404494382px; height: 514px;" href="https://www.thoughtco.com/thmb/eDkNN_vSFdtF6AV7ZvY7K-R2wIo=/4288x2848/filters:fill(auto,1)/5670896980_0fd4f3d54c_o-56a313ba5f9b58b7d0d0466c.jpg" target="_blank" rel="noopener"><img class="detail__media__img-highres  js-detail-img  js-detail-img-high" style="width: 304px; height: 202px; display: block;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwww.thoughtco.com%2Fthmb%2FeDkNN_vSFdtF6AV7ZvY7K-R2wIo%3D%2F4288x2848%2Ffilters%3Afill(auto%2C1)%2F5670896980_0fd4f3d54c_o-56a313ba5f9b58b7d0d0466c.jpg&amp;f=1&amp;nofb=1&amp;ipt=da969c7409a3a9ef38eeb4882583e13f06e15c1cbaec2d730d684fa6e481a1db&amp;ipo=images" alt="What Makes a Good Defensive Lineman?" /></a></div>
<div class="detail__media__img-bg  js-detail-img  js-detail-img-bg" style="width: 772px; height: 513px;">The other thing I enjoy is football. I play line on the Del Norte Nighthawks.</div>
<img class="detail__media__img-thumbnail  js-detail-img  js-detail-img-thumb" style="width: 773.888px; height: 514px; display: none;" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.1-IAl2HecdTtDvHOhw_xVwHaE6%26pid%3DApi&amp;f=1&amp;ipt=97696d91040896e2a64e07145e58afe0d79b98e48dfa8e6315e09c3b78c13098&amp;ipo=images" /></div>
</div>
&nbsp;</td>
</tr>
<tr style="height: 18px;">
<td style="width: 340px; height: 18px;">&nbsp;</td>
<td style="width: 434px; height: 18px;">&nbsp;</td>
</tr>
</tbody>
</table>
<!-- #######  THIS IS A COMMENT - Visible only in the source editor #########-->
<p>&nbsp;</p>